body
{
	background-color:white;
	font-family: 'Courgette', cursive;
	border: 0;
	padding: 0;
}

/*****************
Header
*****************/
#mainHeader
{
	border-radius: 30px;
	box-shadow: 0 0 10px 5px #888888;
	/*border-bottom: 10px solid black;*/
	font-family: 'Courgette', cursive;
	/*display: inline-flex;*/
	width: 100%;
	background-color: #505573;
}

#mainHeader img
{
	box-shadow: 0 5px 10px #fff;
	width: 15%;
	margin-left: 42.5%;

	height: 100%;
	/*border: 1px solid white;*/
	border-radius: 100%;
}

#mainHeader h1
{
	/*box-shadow: 0 10px 5px #70779E;
	border: 1px solid white;*/
	color: white;
	border-radius: 20px;
	font-size: 4em;
	text-align: center;
	width: 50%;
	margin: auto;
	/*margin-top: 5%;*/
}

#mainHeader h2
{
	color: white;
	/*display: block;*/
	/*float: left;*/
	font-size: 2em;
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}

/*******************
BIO
*******************/
#bio
{
	box-shadow: 0 10px 5px #888888;
	margin-top: 2px;
	margin-bottom: 5px;
	background-color: #C3C7DA;
	border-radius: 20px;
	/*width: 100%;*/
	font-size: 1.2em;
	font-family: 'Courgette', cursive;
	padding: 20px;
	/*border-bottom: 1px solid black;*/
}

/********************
NAVIGATION
********************/
#links
{
	/*background-color: #00dd00;*/
	position: relative;
	/*border-bottom:1px solid black;*/
	/*width: 70%;*/
	text-align: center;
}
#links ul
{
	padding: 0;
	display: inline-flex;
	width: 100%;
}

#links a:hover
{
	color: gray;
}
#links li
{
	width:20%;
	padding: 30px 4%;
	/*border-right: 1px solid black;*/
	list-style: none;
}

#links a
{
	padding: 20px 4%;
	text-decoration: none;
	font-size: 2em;
}

/********************
EXTRA LINKS
********************/
#extraLinks
{
	box-shadow: 0 10px 5px gray;
	padding-right: 30px;
	width: 20%;
	float: right;
	border: 1px solid pink;
	border-radius: 10px;
	margin-top: 10px;
}

#extraLinks li
{
	list-style: none;
	color: blue;
	padding-bottom: 30px;
	/*border-bottom: 5px solid black;*/
}

#extraLinks h2
{
	text-align: center;
	color: gray;
}
#extraLinks a
{
	text-decoration: none;
}

/********************
PROJECTS
********************/
.project
{
	box-shadow: 0 10px 5px gray;
	border: 1px solid yellow;
	margin: 10px;
	border-radius: 20px;
	padding: 10px;
	width: 70%;
	overflow: hidden;
	float: left;
}

/********************
BLOG
********************/
#blogPost
{
	float: left;
}

#blogPost img
{
	width: 100%;
	margin: auto;
	margin-top: 20px;
}
.blogSection
{
	box-shadow: 0 10px 5px gray;
	border: 1px solid olive;
	margin: 10px;
	border-radius: 20px;
	padding: 10px;
	/*width: 70%;*/
	overflow: hidden;

}

/*******************
FOOTER
*******************/

#contact
{
	height:50px;
	position: relative;
    bottom: 0;
    clear: both;
    width: 100%;
    margin: 10px 10px 0 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
    background-color: #2a3c61;
    color: white;

}
#contact li
{
	color: gray;
	list-style: none;
	/*padding: 0 10px;*/
	width: 100%;
}

#contact ul
{
	display: inline-flex;
}
#contact img
{
	width: 30px;
	height: 30px;
}
